---
layout: ecoretools_default
title: EcoreTools | Download
---

<section>
    <div class="container">
        {% include block_heading.html
            title="Marketplace"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <p>EcoreTools is pre-installed in the <a href="https://www.eclipse.org/downloads/eclipse-packages/" target="_blank">Modeling Package</a>.<p>
                <p>You can install it from the <a href="https://marketplace.eclipse.org/content/ecoretools-ecore-diagram-editor" target="_blank">Eclipse marketplace</a>, too.</p>
                <p>Don’t know how to install a module from the marketplace? Have a look to the <a href="http://marketplace.eclipse.org/marketplace-client-intro" target="_blank">marketplace client introduction</a>.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg_lightest_grey">
    <div class="container">
        {% include block_heading.html
            sub_title="Update sites"
        %}
        <ul>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">3.3.2 based on Sirius 5.0 - <a target="_blank" href="http://download.eclipse.org/ecoretools/updates/releases/3.3.2/oxygen">http://download.eclipse.org/ecoretools/updates/releases/3.3.2/oxygen</a></li>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">3.3.1 based on Sirius 5.0 - <a target="_blank" href="http://download.eclipse.org/ecoretools/updates/nightly/3.3.1/neon">http://download.eclipse.org/ecoretools/updates/nightly/3.2.x/neon</a></li>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.3.0 based on Sirius 5.0 - <a target="_blank" href="http://download.eclipse.org/ecoretools/updates/nightly/3.3.0/neon">http://download.eclipse.org/ecoretools/updates/nightly/3.1.x/neon</a></li>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">3.2.x based on Sirius 4.1 - <a target="_blank" href="http://download.eclipse.org/ecoretools/updates/releases/3.2.x/neon">http://download.eclipse.org/ecoretools/updates/releases/3.2.0/neon</a></li>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".2s">3.1.0 based on Sirius 4.0 - <a target="_blank" href="http://download.eclipse.org/ecoretools/updates/nightly/3.1.0/neon">http://download.eclipse.org/ecoretools/updates/nightly/3.1.x/neon</a></li>
        </ul>
        {% include block_heading.html
            sub_title="Nightly"
        %}
        <ul>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">3.3.x - <a target="_blank" href="http://download.eclipse.org/ecoretools/updates/nightly/3.3.x/neon">http://download.eclipse.org/ecoretools/updates/nightly/3.3.x/neon</a></li>
        </ul>
    </div>       
</section>