---
layout: ecoretools_default
title: EcoreTools | Home
---

<section id="intro" class="">
    <div class="container">
        <div class="row align-items-end">
            {% include section_intro.html
                title="Front Door to EMF Ecosystem and Tooling" 
                desc="Ecore Tools provides a graphical editor to visually create, edit and maintain your <a href=\”https://wiki.eclipse.org/Ecore\” target=\"_blank\">Ecore</a> models. Start here to leverage other existing EMF tools: validation, comparison, generation and much more."
                
                href_1="download.html"
                target_1="self"
                btn_txt_1="Download"

                href_2="overview.html"      
                target_2="self"      
                btn_txt_2="Overview"

                img_href=""
                img_target="self"
                img_src="images/illustrations/ecoretools-overview.png"
                img_alt="Some text"
            %}
        </div>
        </div>
    </div>
</section>

<section id="" class="bg_lightest_grey text-center">
    <div class="container">
            {% include block_heading.html
                title="Ecore Made Easy"                
                sub_title=""
                desc=""
            %}

        <div class="row">
            {% include block_cols.html
                col="4"
                icon_name="far fa-eye"
                icon_color="txt_indigo"
                title="Visual" 
                desc="Class and Dependency Diagrams"
            %}

            {% include block_cols.html
                col="4"
                icon_name="fas fa-tasks"
                icon_color="txt_indigo"
                title="Rich" 
                desc="Documentation and Validation"
            %}
           
            {% include block_cols.html
                col="4"
                icon_name="fas fa-puzzle-piece"
                icon_color="txt_indigo"
                title="Powered by Sirius" 
                desc="Stable and Extensible"
            %}
        </div>
    </div>
</section>

<section id="support" class="text-center">
    <div class="container">
        {% include block_heading.html
            title="Need Support?"                
            sub_title=""
            desc=""
        %}

    <div class="row">
        {% include block_cols.html
            col="4"
            icon_name="far fa-file-alt"
            icon_color="txt_indigo"
            title="Documentation" 
            desc="Learn how to use Ecore Tools, thanks to online complete user guides and reference manuals"
            href="resources.html"
            link_txt="Learn more"
            href_icon="fas fa-arrow-alt-circle-right"
        %}

        {% include block_cols.html
            col="4"
            icon_name="far fa-comment"
            icon_color="txt_indigo"
            title="Forum" 
            desc="Find relevant posts/answers. No solution yet to your concern? Come and ask your question"
            href="https://www.eclipse.org/forums/index.php/f/165/"
            target="_blank"
            link_txt="Learn more"
            href_icon="fas fa-arrow-alt-circle-right"
        %}

        {% include block_cols.html
            col="4"
            icon_name="far fa-life-ring"
            icon_color="txt_indigo"
            title="Professional support" 
            desc="Obeo, co-leader of Sirius, provides training, expertise, custom development and support plans"
            href="https://www.obeosoft.com/en/services"
            target="_blank"
            link_txt="Learn more"
            href_icon="fas fa-arrow-alt-circle-right"
        %}
    </div>
    </div>
</section>

<section id="" class="bg_lightest_grey text-center">
    <div class="container">
        {% include block_heading.html
            title="Project Lead"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">            
                <p><a href="http://www.obeosoft.com" title="Logo Obeo" target="_blank"><img src="{{  site.url }}/common_assets/images/logos/logo_obeo.png"></a></p>
            </div>
        </div>
    </div>       
</div>
</section>