---
layout: acceleo_default
title: Acceleo | Overview
---

<section>
    <div class="container">
       
        {% include block_text_image.html
            txt_order="order-1"
            title="What is Acceleo?"                
            desc="
            <p>Acceleo is a template-based technology including authoring tools to create custom code generators. It allows you to automatically
                produce any kind of source code from any data source available in EMF format.
            </p>
            <p>It offers outstanding advantages:</p>
            <ul>
                <li> high ability to customize</li>
                <li> interoperability</li>
                <li>easy kick off</li>
            </ul>
            <p>A pragmatic implementation of the Object Management Group (OMG) MOF Model to Text Language (MTL) standard, Acceleo is
                the result of several man-years of R&D started in the <a href=\" https://www.obeo.fr\" target=\"_blank\">Obeo</a> company.</p>
            "
            lnk_txt="Project page"
            lnk_href="https://projects.eclipse.org/projects/modeling.acceleo"
            lnk_target="blank"
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-2"
            img_src="../images/screenshots/overview.png"
            img_title="Acceleo - Overview"
        %}
    </div>
</section>

<section class="bg_lightest_grey">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Discover"
            desc="
            <p>You do not need to be an expert to start using the plug-ins and create your first code generator : using the provided example projects and the powerful completion feature of the Acceleo editor, it is very easy to get started and understand the basic principles.</p>
            <p>The Acceleo generation module Editor supports the user with most of the features you would expect from modern IDEs:</p>
            <ul>
                <li> content assist</li>
                <li> quick outline</li>
                <li> navigation links to the declaration of model elements</li>
                <li> template elements and variables</li>
                <li> quick fixes</li>
                <li> refactoring</li>
                <li> syntax highlighting</li>
                <li> ... and so much more!</li>
            </ul>
            "
            lnk_txt="Learn more"
            lnk_href="http://wiki.eclipse.org/Acceleo/Features"
            lnk_target="self    "
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-1"
            img_src="../images/screenshots/user_experience.png"
            img_title="Acceleo - User Experience"
        %}           
    </div>
</section>

<section class="text-center">
    <div class="container">
        {% include block_heading.html
            title="Related Projects"                
            sub_title=""
            desc=""
        %}
        <div class="row">
                
            <div class="col-md-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">          
                <p><a href="http://www.eclipse.org/modeling/emf/" title="Logo Eclipse EMF"><img src="/common_assets/images/logos/logo_emf.png"></a>  
                <a href="http://www.eclipse.org/sirius/" title="Logo Eclipse Sirius"><img src="/common_assets/images/logos/logo_sirius.png"></a></p>
            <!--<div class="col-md-4 offset-md-2 col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">            
                <p><a href="http://www.eclipse.org/modeling/emf/" title="Logo Eclipse EMF"><img src="/common_assets/images/logos/logo_emf.png"></a></p>
            </div>
            <div class="col-md-4 col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">            
                <p><a href="http://www.eclipse.org/sirius/" title="Logo Eclipse Sirius"><img src="/common_assets/images/logos/logo_sirius.png"></a></p>
            </div>-->
        </div>
    </div>       
</section>