---
layout: acceleo_default
title: Acceleo | Overview
---

<section id="intro" class="text-center">
    <div class="container">
        {% include block_heading.html
            title="What is Acceleo?"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12 wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">            
                <p>Acceleo is a template-based technology including authoring tools to create custom code generators. It allows you to automatically produce any kind of source code from any data source available in EMF format.
                    </p>
                <p>It offers outstanding advantages:<br>
                    <code><i class="fa fa-check-square-o" aria-hidden="true"></i> high ability to customize</code>,<br>
                    <code><i class="fa fa-check-square-o" aria-hidden="true"></i> interoperability</code>,<br>
                    <code>easy kick off</code>
                </p>
                <p>A pragmatic implementation of the Object Management Group (OMG) MOF Model to Text Language (MTL) standard, Acceleo is the result of several man-years of R&D started in the <a href=" https://www.obeo.fr" target="_blank">Obeo</a> company.</p>
                <p><a class="btn btn-default wow fadeInUp" data-wow-delay=".6s" href="https://projects.eclipse.org/projects/modeling.acceleo" target="_blank">Project Page</a></p>
            </div>
        </div>
    </div>
</section>

<section id="intro" class="bg_lightest_grey ">
        <div class="container">
          
            <div class="row">
                <div class="col-md-5">
                    <h3>User Experience</h3>
                    <p>You do not need to be an expert to start using the plug-ins and create your first code generator : using the provided example projects and the powerful completion feature of the Acceleo editor, it is very easy to get started and understand the basic principles.</p>
                    <p>The Acceleo generation module Editor supports the user with most of the features you would expect from modern IDEs:<br> 
                        <code><i class="fa fa-check-square-o" aria-hidden="true"></i> content assist</code>,<br>
                        <code><i class="fa fa-check-square-o" aria-hidden="true"></i> quick outline</code>,<br>
                        <code><i class="fa fa-check-square-o" aria-hidden="true"></i> navigation links to the declaration of model elements</code>,<br>
                        <code><i class="fa fa-check-square-o" aria-hidden="true"></i> template elements and variables</code>,<br>
                        <code><i class="fa fa-check-square-o" aria-hidden="true"></i> quick fixes</code>,<br>
                        <code><i class="fa fa-check-square-o" aria-hidden="true"></i> refactoring</code>,<br>
                        <code><i class="fa fa-check-square-o" aria-hidden="true"></i> syntax highlighting</code>,<br>
                        <code><i class="fa fa-check-square-o" aria-hidden="true"></i> ... and so much more!</code><br>
                    </p>
                        <p><a class="btn btn-default wow fadeInUp" data-wow-delay=".6s" href="http://wiki.eclipse.org/Acceleo/Features" target="_blank">Learn More</a></p>
                </div>
                
                <div class="col-md-7">
                    <img src="https://htmlstream.com/preview/front-v1.3/assets/svg/flat-icons/sitting-woman-flat-concept-illustration.svg" alt="ot">
                </div>
        </div>
    </div>
</section>

<section id="intro" class="text-center">
    <div class="container">
                        
{% include block_heading.html
title="User Experience"                
sub_title=""
desc=""
%}

<div class="col-md-12 wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">            
<p>You do not need to be an expert to start using the plug-ins and create your first code generator : using the provided example projects and the powerful completion feature of the Acceleo editor, it is very easy to get started and understand the basic principles.</p>
<p>The Acceleo generation module Editor supports the user with most of the features you would expect from modern IDEs:<br> 
    <code><i class="fa fa-check-square-o" aria-hidden="true"></i> content assist</code>,<br>
    <code><i class="fa fa-check-square-o" aria-hidden="true"></i> quick outline</code>,<br>
    <code><i class="fa fa-check-square-o" aria-hidden="true"></i> navigation links to the declaration of model elements</code>,<br>
    <code><i class="fa fa-check-square-o" aria-hidden="true"></i> template elements and variables</code>,<br>
    <code><i class="fa fa-check-square-o" aria-hidden="true"></i> quick fixes</code>,<br>
    <code><i class="fa fa-check-square-o" aria-hidden="true"></i> refactoring</code>,<br>
    <code><i class="fa fa-check-square-o" aria-hidden="true"></i> syntax highlighting</code>,<br>
    <code><i class="fa fa-check-square-o" aria-hidden="true"></i> ... and so much more!</code><br>
</p>
<p><a class="btn btn-default wow fadeInUp" data-wow-delay=".6s" href="http://wiki.eclipse.org/Acceleo/Features" target="_blank">Learn More</a></p>
</div>

            </div>
        </div>
    </section>
    