<div class="col-md-{{ include.col }} col-xs-12 wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
    <div>
        <i class="{{ include.icon_name }} fa-3x pa2 txt_indigo" aria-hidden="true"></i>
    </div>                                
    <div>
        <h4>{{ include.title }}</h4>
        <p>{{ include.desc }}</p>
        <p><a href="{{ include.href }}">{{ include.link_txt }} <i class="{{ include.href_icon }}" aria-hidden="true"></i>
        </a></p>                                
    </div>
</div>


