---
layout: acceleo_default
title: Acceleo | Download
---

<section>
    <div class="container">
        {% include block_heading.html
            title="Marketplace"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <p>You can install Acceleo from the <a href="https://marketplace.eclipse.org/content/acceleo" target="_blank">Eclipse marketplace</a>.</p>
                <p>Don’t know how to install a module from the marketplace? Have a look to the <a href="http://marketplace.eclipse.org/marketplace-client-intro">marketplace client introduction</a>.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg_lightest_grey">
    <div class="container">
        {% include block_heading.html
            title="Releases"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <p><img src="../images/screenshots/downloads.png" /></p>
        </div>
    </div>       
</section>