---
layout: emfcompare_default
title: EMF Compare | Download
---

<section>
    <div class="container">
        {% include block_heading.html
            title="Marketplace"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <p>You can install modeling/emf/compare from the <a href="https://marketplace.eclipse.org/content/emf-compare-model-comparison-and-merge" target="_blank">Eclipse marketplace</a>.</p>
                <p>Don’t know how to install a module from the marketplace? Have a look to the <a href="http://marketplace.eclipse.org/marketplace-client-intro" target="_blank">marketplace client introduction</a>.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg_lightest_grey">
    <div class="container">
        {% include block_heading.html
            title="Releases"                
            sub_title="Releases"
            desc=""
        %}
        <ul>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.3 - <a target="_blank" href="http://download.eclipse.org/modeling/emf/compare/updates/releases/3.3">http://download.eclipse.org/modeling/emf/compare/updates/releases/3.3</a>
            </li>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.2 - <a target="_blank" href="http://download.eclipse.org/modeling/emf/compare/updates/releases/3.2">http://download.eclipse.org/modeling/emf/compare/updates/releases/3.2</a>
            </li>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.1 - <a target="_blank" href="http://download.eclipse.org/modeling/emf/compare/updates/releases/3.1">http://download.eclipse.org/modeling/emf/compare/updates/releases/3.1</a>
            </li>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.0 - <a target="_blank" href="http://download.eclipse.org/modeling/emf/compare/updates/releases/3.0">http://download.eclipse.org/modeling/emf/compare/updates/releases/3.0</a>
            </li>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">2.1 - <a target="_blank" href="http://download.eclipse.org/modeling/emf/compare/updates/releases/2.1">http://download.eclipse.org/modeling/emf/compare/updates/releases/2.1</a>
            </li>
        </ul>
        {% include block_heading.html
            sub_title="Update sites"
        %}
        <ul>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.3.6 - 
            <a target="_blank" href="http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201903050300">http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201903050300</a> | 
            <a target="_blank" href="http://www.eclipse.org/downloads/download.php?file=/modeling/emf/compare/downloads/drops/3.3.6/S201903050300/emf-compare-update-3.3.6RC1.zip&protocol=http">Zipped Update Site</a> 
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.3.5 - 
            <a target="_blank" href="http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201812111422">http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201812111422</a> | 
            <a target="_blank" href="http://www.eclipse.org/downloads/download.php?file=/modeling/emf/compare/downloads/drops/3.3.5/R201812111422/emf-compare-update-3.3.5.zip&protocol=http">Zipped Update Site</a>
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.3.4 - 
            <a target="_blank" href="http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201806221350">http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201806221350</a> | 
            <a target="_blank" href="http://www.eclipse.org/downloads/download.php?file=/modeling/emf/compare/downloads/drops/3.3.4/R201806221350/emf-compare-update-3.3.4.zip&protocol=http">Zipped Update Site</a>
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.3.3 - 
            <a target="_blank" href="http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201805161152">http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201805161152</a> | 
            <a target="_blank" href="http://www.eclipse.org/downloads/download.php?file=/modeling/emf/compare/downloads/drops/3.3.3/R201805161152/emf-compare-update-3.3.3.zip&protocol=http">Zipped Update Site</a>
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.3.2 - 
            <a target="_blank" href="http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201709090201">http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201709090201</a> | 
            <a target="_blank" href="http://www.eclipse.org/downloads/download.php?file=/modeling/emf/compare/downloads/drops/3.3.2/R201709090201/emf-compare-update-3.3.2.zip&protocol=http">Zipped Update Site</a>
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.3.1 - 
            <a target="_blank" href="http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201706130827">http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201706130827</a> | 
            <a target="_blank" href="http://www.eclipse.org/downloads/download.php?file=/modeling/emf/compare/downloads/drops/3.3.1/R201706130827/emf-compare-update-3.3.1.zip&protocol=http">Zipped Update Site</a>
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.3.0 - 
            <a target="_blank" href="http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201703140832">http://download.eclipse.org/modeling/emf/compare/updates/milestone/3.3/S201703140832</a> | 
            <a target="_blank" href="http://www.eclipse.org/downloads/download.php?file=/modeling/emf/compare/downloads/drops/3.3.0/R201611041634/emf-compare-update-3.3.0.zip&protocol=http">Zipped Update Site</a>
        </li>
        </ul>
    </div>       
</section>