---
layout: emfcompare_default
title: EMF Compare | Home
---

<section id="intro" class="">
    <div class="container">
        <div class="row align-items-end">
            {% include section_intro.html
                title="Compare and Merge your EMF Models" 
                desc="Eclipse EMF Compare brings model comparison to the EMF framework, this tool provides generic support for any kind of metamodel in order to compare and merge models. The objectives of this component are to provide a stable and efficient generic implementation of model comparison and to provide an extensible framework for specific needs."
                
                href_1="download.html"
                target_1="self"
                btn_txt_1="Download"

                href_2="overview.html"      
                target_2="self"      
                btn_txt_2="Overview"

                img_href=""
                img_target="self"
                img_src="images/illustrations/emfcompare-overview.png"
                img_alt="Some text"
            %}
        </div>
        </div>
    </div>
</section>

<section id="" class="bg_lightest_grey text-center">
    <div class="container">
            {% include block_heading.html
                title="Benefits"                
                sub_title=""
                desc=""
            %}

        <div class="row">
            {% include block_cols.html
                col="3"
                icon_name="fas fa-columns"
                icon_color="txt_indigo"
                title="Easy" 
                desc="Enjoy a model-based tool to avoid manual XMI files comparison"
            %}

            {% include block_cols.html
                col="3"
                icon_name="fas fa-sliders-h"
                icon_color="txt_indigo"
                title="Extensible" 
                desc="Integrate your own differencing policy"
            %}
           
            {% include block_cols.html
                col="3"
                icon_name="fas fa-expand-arrows-alt"
                icon_color="txt_indigo"
                title="Scalable" 
                desc="Compare models containing millions of elements
                "
            %}

            {% include block_cols.html
                col="3"
                icon_name="fas fa-code-branch"
                icon_color="txt_indigo"
                title="Works with Git" 
                desc="Use EMF Compare to get differences at the model level, too!"
            %}
        </div>
    </div>
</section>

<section id="" class="text-center">
    <div class="container">
        {% include block_heading.html
            title="Need Support?"                
            sub_title=""
            desc=""
        %}

    <div class="row">
        {% include block_cols.html
            col="4"
            icon_name="far fa-file-alt"
            icon_color="txt_indigo"
            title="Documentation" 
            desc="Learn how to use EMF Compare, thanks to online complete user guides and reference manuals"
            href="resources.html"
            link_txt="Learn more"
            href_icon="fas fa-arrow-alt-circle-right"
        %}

        {% include block_cols.html
            col="4"
            icon_name="far fa-comment"
            icon_color="txt_indigo"
            title="Forum" 
            desc="Find relevant posts/answers. No solution yet to your concern? Come and ask your question    "
            href="https://www.eclipse.org/forums/index.php/f/164/"
            target="_blank"
            link_txt="Learn more"
            href_icon="fas fa-arrow-alt-circle-right"
        %}

        {% include block_cols.html
            col="4"
            icon_name="far fa-life-ring"
            icon_color="txt_indigo"
            title="Professional support" 
            desc="Obeo, leader of EMF Compare’s development, provides training, expertise, custom development and support plans"
            href="https://www.obeosoft.com/en/services"
            target="_blank"
            link_txt="Learn more"
            href_icon="fas fa-arrow-alt-circle-right"
        %}
    </div>
    </div>
</section>

<section id="" class="bg_lightest_grey text-center">
    <div class="container">
        {% include block_heading.html
            title="Project Lead"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">            
                <p><a href="https://www.obeosoft.com" title="Logo Obeo" target="_blank"><img src="{{  site.url }}/common_assets/images/logos/logo_obeo.png"></a></p>
            </div>
        </div>
    </div>       
</div>
</section>