---
layout: emfcompare_default
title: EMF Compare | Support
---

<section>
    <div class="container">
        {% include block_heading.html
            title="Community Support"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a href="http://www.eclipse.org/forums/index.php?t=thread&frm_id=108" target="_blank">EMF Newsgroup</a> - Remember to prefix the subject of your EMF Compare-related posts with "[Compare]"</li>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a href="https://bugs.eclipse.org/bugs/buglist.cgi?list_id=7540136&classification=Modeling&query_format=advanced&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&product=EMFCompare" target="_blank">EMF Compare Bugzilla</a> - Review and create Bugzilla entries</li>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a href="https://bugs.eclipse.org/bugs/enter_bug.cgi?product=EMFCompare" target="_blank">File a bug</a> - File bugs and feature requests</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="bg_lightest_grey">
    <div class="container">
        {% include block_heading.html
            title="Professional Services"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <p class="wow fadeInDown" data-wow-delay=".1s">The EMF Compare team can be contacted through the official Eclipse EMF forums and newsgroup. Yet this form of support may not meet daily needs of an enterprise adopter as far as response delays are involved. 
                    Most of the developers of EMF Compare are from Obeo, and are then the best source to provide competent and professional support:
                    </p>
                <ul>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a  href="https://www.obeosoft.com/en/services/support-maintenance" target="_blank">Support & maintenance</a></li>
                    <li class="wow fadeInLeft" data-wow-delay=".2s"><a href="https://www.obeosoft.com/en/services/training" target="_blank">Long term support (integration and maintenance inside your Eclipse bundle)</a></li>
                    <li class="wow fadeInLeft" data-wow-delay=".3s"><a href="https://www.obeosoft.com/en/services/coaching" target="_blank">Coaching</a></li>
                    <li class="wow fadeInLeft" data-wow-delay=".4s"><a href="https://www.obeosoft.com/en/services/custom-development" target="_blank">Customizing EMF Compare for your needs</a></li>
                </ul>
            </div>
        </div>
    </div>       
</section>