---
layout: acceleo_default
title: Acceleo | Download
---

<section>
    <div class="container">
        {% include block_heading.html
            title="Marketplace"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <p>You can install Acceleo from the <a href="https://marketplace.eclipse.org/content/acceleo" target="_blank">Eclipse marketplace</a>.</p>
                <p>Don’t know how to install a module from the marketplace? Have a look to the <a href="http://marketplace.eclipse.org/marketplace-client-intro" target="_blank">marketplace client introduction</a>.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg_lightest_grey">
    <div class="container">
        {% include block_heading.html
            title="Releases"                
            sub_title="Releases"
            desc=""
        %}
        <ul>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">3.7.x - <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.7">http://download.eclipse.org/acceleo/updates/releases/3.7</a></li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.6.x - <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.6">http://download.eclipse.org/acceleo/updates/releases/3.6</a></li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">3.5.x - <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.5">http://download.eclipse.org/acceleo/updates/releases/3.5</a></li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">3.4.x - <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.4">http://download.eclipse.org/acceleo/updates/releases/3.4</a></li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">3.3.x - <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.3">http://download.eclipse.org/acceleo/updates/releases/3.3</a></li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">3.2.x - <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.2">http://download.eclipse.org/acceleo/updates/releases/3.2</a></li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">3.1.x - <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.1">http://download.eclipse.org/acceleo/updates/releases/3.1</a></li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">3.0.x - <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.0">http://download.eclipse.org/acceleo/updates/releases/3.0</a></li>
        </ul>
        {% include block_heading.html
            sub_title="Update sites"
        %}
        <ul>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">3.7.9 - 
                <a target="_blank" href="https://download.eclipse.org/acceleo/updates/releases/3.7/R201911060712">https://download.eclipse.org/acceleo/updates/releases/3.7/R201911060712</a> |
                <a target="_blank" href="https://www.eclipse.org/downloads/download.php?file=/acceleo/downloads/drops/3.7.9/R201911060712/acceleo-update-3.7.9.zip&protocol=https">Zipped Update Site</a>
            </li>
            <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.7.8 - 
                <a target="_blank" href="https://download.eclipse.org/acceleo/updates/releases/3.7/R201902261618">https://download.eclipse.org/acceleo/updates/releases/3.7/R201902261618</a> |
                <a target="_blank" href="https://www.eclipse.org/downloads/download.php?file=/acceleo/downloads/drops/3.7.8/R201902261618/acceleo-update-3.7.8.zip&protocol=https">Zipped Update Site</a>
            </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">3.7.7 - 
            <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.7/R201812041426">http://download.eclipse.org/acceleo/updates/releases/3.7/R201812041426</a> |
            <a target="_blank" href="https://www.eclipse.org/downloads/download.php?file=/acceleo/downloads/drops/3.7.7/R201812041426/acceleo-update-3.7.7.zip&protocol=https">Zipped Update Site</a>
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">3.7.6 - 
            <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.7/R201810050612">http://download.eclipse.org/acceleo/updates/releases/3.7/R201810050612</a> | 
            <a target="_blank" href="https://www.eclipse.org/downloads/download.php?file=/acceleo/downloads/drops/3.7.6/R201810050612/acceleo-update-3.7.6.zip&protocol=https">Zipped Update Site</a>
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">3.7.5 - 
            <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.7/R201809121017">http://download.eclipse.org/acceleo/updates/releases/3.7/R201809121017</a> | 
            <a target="_blank" href="https://www.eclipse.org/downloads/download.php?file=/acceleo/downloads/drops/3.7.5/R201809121017/acceleo-update-3.7.5.zip&protocol=https">Zipped Update Site</a>
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">3.7.4 - 
            <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.7/R201807201001">http://download.eclipse.org/acceleo/updates/releases/3.7/R201807201001</a> | 
            <a target="_blank" href="https://www.eclipse.org/downloads/download.php?file=/acceleo/downloads/drops/3.7.4/R201807201001/acceleo-update-3.7.4.zip&protocol=https">Zipped Update Site</a>
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">3.7.3 - 
            <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.7/R201802240723">http://download.eclipse.org/acceleo/updates/releases/3.7/R201802240723</a> | 
            <a target="_blank" href="https://www.eclipse.org/downloads/download.php?file=/acceleo/downloads/drops/3.7.3/R201802240723/acceleo-update-3.7.3.zip&protocol=https">Zipped Update Site</a>
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">3.7.2 - 
            <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.7/R201708211328">http://download.eclipse.org/acceleo/updates/releases/3.7/R201708211328</a> | 
            <a target="_blank" href="https://www.eclipse.org/downloads/download.php?file=/acceleo/downloads/drops/3.7.2/R201708211328/acceleo-update-3.7.2.zip&protocol=https">Zipped Update Site</a>
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">3.7.1 - 
            <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.7/R201705121344">http://download.eclipse.org/acceleo/updates/releases/3.7/R201705121344</a> | 
            <a target="_blank" href="https://www.eclipse.org/downloads/download.php?file=/acceleo/downloads/drops/3.7.1/R201705121344/acceleo-update-3.7.1.zip&protocol=https">Zipped Update Site</a>
        </li>
        <li class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">3.7.0 - 
            <a target="_blank" href="http://download.eclipse.org/acceleo/updates/releases/3.7/R201610150614">http://download.eclipse.org/acceleo/updates/releases/3.7/R201610150614</a> | 
            <a target="_blank" href="https://www.eclipse.org/downloads/download.php?file=/acceleo/downloads/drops/3.7.0/R201610150614/acceleo-update-3.7.0.zip&protocol=https">Zipped Update Site</a>
        </li>
        </ul>
    </div>       
</section>