---
layout: acceleo_default
title: Acceleo | Features
---

<section id="" class="text-center">
    <div class="container">
        {% include block_heading.html
            title="The Acceleo Language"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12 wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">            
                <p>Templates (Pre-conditions, Post-treatments, Variables, User-code) | Modules | Queries</p>
        
                <p><a class="btn btn-default wow fadeInUp" data-wow-delay=".6s" href="https://www.google.com/url?q=https://wiki.eclipse.org/Acceleo/User_Guide%23The_Acceleo_language&sa=D&ust=1534837733046000&usg=AFQjCNGp1VVo5q8VMWAbN4Nerp2f9lWQcg" target="_blank">Learn more</a></p>
            </div>
        </div>
    </div>
</section>

<section class="bg_lightest_grey text-center">
    <div class="container">
        {% include block_heading.html
            title="The Acceleo Tooling"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12 wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">            
               <p>Syntax highlighting | Smart completion | Navigation to definitions and references | Errors detection <br> Quick fixes | Warning and informations support | Dynamic outline | Quick outline | Code folding <br>
               Code templates | Customizable code templates | Documentation hover | Visible whitespace characters <br> Search of occurrences | Refactoring | Eclipse perspective | Profiler | Debugger

                <p><a class="btn btn-default wow fadeInUp" data-wow-delay=".6s" href="https://wiki.eclipse.org/Acceleo/User_Guide#The_Acceleo_Tooling" target="_blank">Learn more</a></p>
            </div>
        </div>
    </div>
</section>

<section class="text-center">
    <div class="container">
        {% include block_heading.html
            title="The Acceleo Runtime"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12 wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">            
               Compiler | 
               Generation engine | 
               Standalone mode | 
               Integration (Ant, Maven or Java) | 
        
                <p><a class="btn btn-default wow fadeInUp" data-wow-delay=".6s" href="https://wiki.eclipse.org/Acceleo/User_Guide#Launching_an_Acceleo_generation" target="_blank">Learn more</a></p>
            </div>
        </div>
    </div>
</section>