---
layout: acceleo_default
title: Acceleo | Support
---

<section>
    <div class="container">
        {% include block_heading.html
            title="Community Support"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li class="wow fadeInLeft animated" data-wow-delay=".1s"><a href="http://www.eclipse.org/forums/index.php?t=thread&frm_id=24&" target="_blank">M2T Newsgroup</a> - Remember to prefix the subject of your Acceleo-related posts with "[Acceleo]"</li>
                    <li class="wow fadeInLeft animated" data-wow-delay=".1s"><a href="http://stackoverflow.com/questions/tagged/acceleo" target="_blank">Acceleo on Stackoverflow</a> - Remember to tag your questions with the Acceleo tag</li>
                    <li class="wow fadeInLeft animated" data-wow-delay=".1s"><a href="https://bugs.eclipse.org/bugs/buglist.cgi?classification=Modeling&product=Acceleo&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED" target="_blank">Acceleo Bugzilla</a> - Review and create Bugzilla entries</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="bg_lightest_grey">
    <div class="container">
        {% include block_heading.html
            title="Professional Services"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <p class="wow fadeInDown animated" data-wow-delay=".1s">Obeo, creator of Acceleo, provides professional services to help you produce and maintain generators of industrial grade:</p>
                <ul>
                    <li class="wow fadeInLeft animated" data-wow-delay=".1s"><a  href="http://www.obeo.fr/en/services/support-maintenance" target="_blank">Support & maintenance</a></li>
                    <li class="wow fadeInLeft animated" data-wow-delay=".2s"><a href="http://www.obeo.fr/en/services/training" target="_blank">Training</a></li>
                    <li class="wow fadeInLeft animated" data-wow-delay=".3s"><a href="http://www.obeo.fr/en/services/coaching" target="_blank">Consulting & coaching</a></li>
                    <li class="wow fadeInLeft animated" data-wow-delay=".4s"><a href="http://www.obeo.fr/en/services/custom-development" target="_blank">Custom development</a></li>
                </ul>
            </div>
        </div>
    </div>       
</section>